<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
</head>
<body>

<p align="center">List of cars</p>
<div>
    <table border="1">
        <tr>
            <th>Model of the car</th>
            <th> Max speed</th>
            <th> Max load</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}">...</td>
            <td th:text="${car.getMaxSpeed()}">...</td>
            <td th:text="${car.getMaxLoad()}">...</td>
        </tr>
    </table>
</div>
<br> <br>
<div>
    <form method="get" action="/cars">
        <label for="count">How many cars do you want to see</label>
        <input name="count" type="number" id="count">
        <br>
        <input type="submit" value="See cars">
    </form>
</div>
</body>
</html>